body
{
  text-align: center;
  font-family: Arial;
}

.top-of-page
{
  background-image: url(../resources/the-flatiron-building.png)
}

h1
{
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h3
{
  font-size: 23px;
  font-weight: bold;
}
}

h4
{
  color: white;
  font-size: 18px;
}

h5
{
  font-size: 14px;
}
