body
{
  text-align: center;
  font-family: Arial;
}

.top-of-page
{
  background-image: url(../resources/the-flatiron-building.png) repeat 0 0;
}

h1
{
  color: white;
  font-size: 70px;
  font-weight: bold;
}

h2
{
  font-size: 32px;
  font-weight: bold;
}

h3
{
  font-size: 23px;
  font-weight: bold;
}

h4
{
  color: white;
  font-size: 18px;
}

h5
{
  font-size: 14px;
}

h6#diff {
  background-color: gray;
  color: white;
  font-size: 11px;
  font-align: left;
}

p
{
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url(../resources/the-flatiron-building.png);
}
